<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>HOPe SOAP catalog</title>

    <!-- Bootstrap Core CSS -->
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/hopesoap.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="css/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-app="hopeSoap" ng-controller="SoapListCtrl" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top top-nav-collapse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="index.html">
                    <i class="fa fa-backward"></i>  <span class="light">Обратно към </span> HOPe SOAP
                </a>
            </div>

            <div class="navbar-right navbar-custom navbar-custom-catalog navbar-brand light">
                Каталог
            </div>
        </div>
    </nav>

    <section class="content-section">
        <div class="container container-relative">

            <div class="col-md-2">
                <div class="side-box">
                    <p class='side-box-title'>
                        <span class="left">Покажи ми</span>
                    </p>

                    <div class="checkbox checkbox-categories" ng-repeat="category in categories">
                        <label>
                            <input type="checkbox" checked="checked"> {{category}}
                        </label>
                    </div>

                    <p class='side-box-title'>
                        <span class="left">Подреди по</span>
                    </p>

                    <div class="radio">
                        <label>
                            <input type="radio" name="sort" value="price" checked="true">
                            <span>Цена</span>
                        </label>
                    </div>

                    <div class="radio">
                        <label>
                            <input type="radio" name="sort" value="createdAt"><span >Последно добавен</span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class='row'>
                    <div ng-repeat="soap in soaps" class='col-md-3'>
                        <div class="soap rounded-border">
                            <div class="soap-img">
                                <img ng-src="{{soap.imageUrl}}">
                            </div>
                            <div class="soap-info">
                                {{soap.name}}
                            </div>
                            <p>
                                <center>
                                    {{soap.price}} лв. - 1 брой
                                </center>
                            </p>
                            <p>
                                <center>
                                    {{soap.description}}
                                </center>
                            </p>
                            <p>
                                <center>
                                    <!-- <a href='#'>Добави <i class='fa fa-shopping-cart'></i></a> -->
                                    <button type="button" class="btn btn-default btn-xs">Поръчай</button>
                                <center>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="side-box side-box-container">
                    <p class='side-box-title'>
                        <span class="left">Вашата поръчка</span>
                    </p>
                    <div class="side-box-items" ng-repeat="order in orders">
                        <span class="left">{{order.name}}</span>
                        <span class="right">x {{order.price}} лв.</span>
                        <span class="left">{{order.count}} бр.</span>
                        <span class="side-box-quantity">
                            <a href='#'><i class='fa fa-minus-square-o'></i></a>
                            <a href='#'><i class='fa fa-plus-square-o'></i></a>
                        </span>
                        <span class="right last">= {{order.total}} лв.</span>
                    </div>
                    <p class='side-box-total side-box-container'>
                        <span class="left">Общо</span>
                        <span class="right">= 18 лв</span>
                    </p>
                    <button type="button" class="btn btn-default right">Поръчай</button>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p class="paragraph-small">Copyright &copy; Този&Онзи 2014</p>
        </div>
    </footer>

    <!-- Vendor dependencies -->
    <script src="js/dep/jquery-1.11.0.js"></script>
    <script src="js/dep/bootstrap.min.js"></script>
    <script src="js/dep/jquery.easing.min.js"></script>
    <script src="js/dep/angular.js"></script>

    <!-- Application dependencies -->
    <script src="js/app/services.js"></script>
    <script src="js/app/controllers.js"></script>
    <script src="js/app/app.js"></script>
</body>
</html>
